---
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection, type CollectionEntry } from "astro:content";
import PageLayout from "../../layouts/PageLayout.astro";


export async function getStaticPaths() {
  const categories = await getCollection("categories");

  return categories.map((category) => ({
    params: { slug: category.id },
    props: {entry: category},
  }));
}

type Props = {
  entry: CollectionEntry<"categories">;
};

const {entry} = Astro.props as Props;
---

<PageLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main
    class="w-screen flex flex-col justify-start items-start max-w-3xl mx-auto p-8"
  >
    <a
      href="/"
      class="text-white bg-stone-900 hover:bg-stone-800 px-4 py-2 mb-8 border border-stone-600 rounded-lg"
      >Atrás</a
    >
    <section class="w-full">
      <h1 class="text-4xl font-bold mb-4 text-stone-100">{entry.data.name}</h1>
      <ul class="w-full">
        <!-- {posts?.map((post) => <PostRow data={post.data} slug={post.slug} />)} -->
      </ul>
    </section>
  </main>
</PageLayout>
