---
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection, type CollectionEntry } from "astro:content";
import PageLayout from "../../layouts/PageLayout.astro";
import PostRow from "../../components/Blog/PostRow.astro";
import { groupPosts } from "../../lib/utils";

const posts = (
  await getCollection(
    "blog",
    (post: CollectionEntry<"blog">) => post.data.published
  )
).sort(
  (a: any, b: any) =>
    Date.parse(`${b.data.publishedAt}`) - Date.parse(`${a.data.publishedAt}`)
) as CollectionEntry<"blog">[];

const groupedPosts = groupPosts(posts);
---

<PageLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main
    class="w-screen flex flex-col justify-start items-start max-w-3xl mx-auto p-8"
  >
    <a
      href="/"
      class="text-white bg-stone-900 hover:bg-stone-800 px-4 py-2 mb-8 border border-stone-600 rounded-lg"
      >Atrás</a
    >
    <section class="w-full">
      <h1 class="text-4xl font-bold mb-8 text-stone-100">Blog</h1>
      <ul class="w-full">
        {groupedPosts.map((group) => (
          <li class="mb-6">
            <h2 class="text-2xl text-stone-100 font-medium">{group.year}</h2>
            <ul class="w-full mb-4">
              {group.items.map((post) => (
                // @ts-ignore
               <PostRow data={post.data} slug={post.slug} />
              ))}
            </ul>
          </li>
        ))}
      </ul>
    </section>
  </main>
</PageLayout>
