---
import PageLayout from "../layouts/PageLayout.astro";
import { LINKS } from "../consts";
import Button from "../components/Button.astro";
import { Icon } from "astro-icon/components";

---

<PageLayout title="About Me" description="Lorem ipsum dolor sit amet">
  <main
    class="w-screen flex flex-col justify-start items-start max-w-3xl mx-auto p-8"
  >
    <a
      href="/"
      class="text-white bg-stone-900 hover:bg-stone-800 px-4 py-2 mb-8 border border-stone-600 rounded-lg"
      >Atrás</a
    >
    <div class="prose lg:prose-lg text-white">
      <h1 class="text-2xl font-bold mb-4 text-white">Acerca de mi</h1>
      <p>
        Soy un desarrollador web Full Stack con más de 12 años construyendo
        experiencias digitales. Me expecializo en el Frontend usando JavaScript,
        React y React Native, complementada por una sólida experiencia en
        desarrollo backend con Node.js y NestJS. Mi background en diseño gráfico
        me permite construir el puente perfecto entre funcionalidad y estética,
        utilizando Figma para crear interfaces intuitivas y visualmente
        atractivas.
      </p>

      <p>
        Como desarrollador frontend, he trabajado en proyectos que van desde
        pequeñas aplicaciones web hasta grandes plataformas de comercio
        electrónico. Mis habilidades de diseño de interfaz de usuario me
        permiten entender las necesidades de los usuarios finales y crear
        interfaces de usuario que no sólo son visualmente atractivas, sino
        también fáciles de usar.
      </p>
      <p>
        Más allá del código, soy un entusiasta del conocimiento compartido.
        Participo activamente en la comunidad tech de Cali como miembro del GDG
        Cali, donde comparto experiencias y conocimientos a través de charlas
        técnicas.
      </p>

      <p>
        La creatividad fluye por mis venas más allá del mundo digital. Cuando no
        estoy programando, me encuentras en escenarios haciendo Stand-up Comedy
        o creando arte a través del tatuaje y la ilustración. Esta combinación
        única de habilidades técnicas y artísticas me permite aportar una
        perspectiva fresca y creativa a cada proyecto que emprendo
      </p>
    </div>

    <!-- social networks -->
    <h2 class="text-lg font-bold mt-8 text-white mb-2">Sígueme en</h2>
    <div class="flex gap-4">
      <a href={LINKS.github} aria-label="github profile" target="_blank">
        <Button aria-label="github profile">
          <Icon name="ri:github-fill" class="h-6" />
          <span class="sr-only">GitHub Profile</span>
        </Button>
      </a>
      <a href={LINKS.linkedin} aria-label="linkedin profile" target="_blank">
        <Button aria-label="linkedin profile">
          <Icon name="ri:linkedin-box-fill" class="h-6" />
          <span class="sr-only">Linkedin Profile</span>
        </Button>
      </a>
      <a href={LINKS.dribble} aria-label="dribble profile" target="_blank">
        <Button aria-label="dribble profile">
          <Icon name="ri:dribbble-fill" class="h-6" />
          <span class="sr-only">Dribble Profile</span>
        </Button>
      </a>
      <a href={LINKS.medium} aria-label="dribble profile" target="_blank">
        <Button aria-label="dribble profile">
          <Icon name="ri:medium-fill" class="h-6" />
          <span class="sr-only">Medium Profile</span>
        </Button>
      </a>
      <a href={LINKS.instagram} aria-label="twitter profile" target="_blank">
        <Button aria-label="instagram profile">
          <Icon name="ri:instagram-fill" class="h-6" />
          <span class="sr-only">Instagram Profile</span>
        </Button>
    </div>
  </main>
</PageLayout>
